<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Jois Git Reference</title>
    <link rel="stylesheet" href="assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,400i,500" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="assets/toArrayFilter.js"></script>
    <script type="text/javascript" src="assets/reference.js"></script>
    <script type="text/javascript" src="index.js"></script>
</head>

<body ng-app='gitref' ng-controller="GitRefController">

    <div id="HEADER">
        <img src="assets/iheartgit.png" class="header-image">
        <span class="title">Joi's Git Reference</span>
        <br><code>A prettified searchable git --help</code>
        <span class="header-tip">TIP: {{randomTip}}</span></div>
    <div id="MENU">
        <p class="alert">This reference is currently under development and is incomplete.</p>
    </div>
    <div id="MAIN">

        <div class="search">
            <i class="material-icons" ng-class="{'active':filterActive}" ng-click="showCatFilter=true" title="filter by category">filter_list</i>
            <i class="material-icons">search</i>
            <input type="text" placeholder="Search" ng-model="filter.search">
        </div>

        <table class="main-table">
            <thead>
                <tr class="head">
                    <th>
                        <i class="material-icons" ng-hide="filter.fav" ng-click="filter.fav=!filter.fav;filterFav(true)">favorite_border</i>
                        <i class="material-icons" ng-show="filter.fav" ng-click="filter.fav=!filter.fav; filterFav(false)">favorite</i>
                    </th>

                    <th ng-click="filter.order = 'name'; filter.reverseOrder=!filter.reverseOrder">
                        Command Name
                        <i class="thead-icons" ng-show="filter.order==='name'">
                        <span ng-if="!filter.reverseOrder">arrow_downward</span>
                        <span ng-if="filter.reverseOrder">arrow_upward</span>
                        </i>
                    </th>

                    <th ng-click="filter.order = 'type'; filter.reverseOrder=!filter.reverseOrder">
                        Category
                        <i class="thead-icons" ng-show="filter.order==='type'">
                        <span ng-if="!filter.reverseOrder">arrow_downward</span>
                        <span ng-if="filter.reverseOrder">arrow_upward</span>
                        </i>
                    </th>

                    <th>Short Description</th>
                    <th>Favorite Flag</th>

                </tr>
            </thead>

            <tr ng-repeat="command in commands | toArray:false | filter:filter.search | filter:{fav:filter.favOption} | filter:catFilter | orderBy:filter.order:filter.reverseOrder" ng-click="displayDesc(command.name)" ng-class="{active:activeCommand == command.name}">
                <td><span ng-show="command.fav"><i class="material-icons">favorite</i></span></td>
                <td>{{command.name}}</td>
                <td>{{command.type}}</td>
                <td>{{command.short}}</td>
                <td>{{command.flags}}</td>
            </tr>
        </table>

        <div class="description">
            <h2>{{pickedCommand.title}}</h2>
            <p ng-bind-html="pickedCommand.long"></p>
            <div ng-repeat="example in pickedCommand.examples track by $index">
                <span class="example-title">{{example.title}}</span>
                <span class="example-flag">{{example.flags}}</span>
                <span ng-bind-html="example.desc"></span>
                <code class="example-code">{{example.code}}</code>
            </div>
            <p>{{pickedCommand.reference}}
                <br>
                <strong><a href="{{pickedCommand.link}}" target="_blank">{{pickedCommand.link}}</a></strong></p>
        </div>

        <div ng-show="showCatFilter" class="category-filter">
            <p class="filter-title">FILTER BY CATEGORY</p>
            <form ng-model="filter.categories">
                <span ng-repeat="(key, value) in filter.categories">
            <input type="checkbox" name="categories" ng-model="filter.categories[key]">{{key}}
            </span>
               <input type="checkbox" ng-model="filter.selectAll" ng-click="selectAll()">
                <button ng-click="showCatFilter=false" class="alert">Cancel</button>
                <button ng-click="filterCategory()" class="action">Filter</button>
            </form>
        </div>
    </div>

</body>

</html>
