/* COLORS */

@darkPrimaryColor:   #455A64;
@primaryColor:       #607D8B;
@lightPrimaryColor:  #CFD8DC;
@textPrimaryColor:   #FFFFFF;
@accentColor:        #FFEB3B;
@primaryTextColor:   #212121;
@secondaryTextColor: #757575;
@dividerColor:       #BDBDBD;


/* BASE */

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: @darkPrimaryColor;
    margin: 0;
    paddin: 0;
}
/* DIVS */

#HEADER, #MENU {
    padding: 20px;
    color: @textPrimaryColor;
}
#HEADER {
    background: @primaryColor;
    font-weight: 700;
    font-size: 3em;
}

#MENU {
    background: @darkPrimaryColor;
    color: @textPrimaryColor;
}
