@import "material.less";

/* COLORS */

@darkPrimaryColor: #455A64;
@primaryColor: #607D8B;
@lightPrimaryColor: #CFD8DC;
@textPrimaryColor: #FFFFFF;
@accentColor: #FFC107;
@lightAccentColor: #FFECB3;
@primaryTextColor: #212121;
@secondaryTextColor: desaturate(@darkPrimaryColor, 50%);
@dividerColor: fadeout(@lightPrimaryColor, 80%);
@alertColor: #f44336;

p.alert {
    color: @accentColor;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

/* BASE */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: @accentColor;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    color: @darkPrimaryColor;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background: @primaryColor;
    overflow: hidden;
}

button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background: @lightPrimaryColor;
    padding: 5px;
    border: 0 none;
    border-radius: 3px;
    border: 1px solid @dividerColor;
    .shadow2;
    &:hover {
        cursor: pointer;
        background: @accentColor;
    }

}

code {
    font-family: 'Roboto Mono', monospace;
}

strong,
bold {
    font-weight: 700;
}

.material-icons.active {
    color: @accentColor;
}

[ng-click] {
    cursor: pointer;
}

.center {
    text-align: center;
}

.shadow2 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow1 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* BASE TABLES & INPUTS */

table {
    table-layout: fixed;
    padding: 10px;
    border-collapse: collapse;
}

thead {
    text-align: left;
}

th {
    font-weight: 400;
}

td,
th {
    padding: 10px;
}

input,
input:focus,
input:active {
    border: 0 none;
    outline: none;
    &::placeholder {
        color: black;
    }
}


/* MAJOR DIVS */

#HEADER,
#MENU {
    color: @textPrimaryColor;
}

#HEADER {
    background: @primaryColor;
    padding: 20px;
    & .title {
        font-size: 3em;
    }
}

#MENU {
    background: @darkPrimaryColor;
    color: @textPrimaryColor;
    padding: 10px;
}

#MAIN {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 0;
    background: white;
    position: absolute;
    TOP: 155PX;
    bottom: 0px;
}


/* HEADER ELEMENTS */

.header-image {
    height: 7em;
    float: left;
    margin-top: -20px;
    margin-left: -20px;
}

.header-tip {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 400px;
    color: @lightPrimaryColor;
}


/* MAIN CONTAINER ELEMENTS */

.search {
    flex: 1 0 100%;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    border-color: @lightPrimaryColor;
    border-width: 1px 0;
    background: @dividerColor;
    border-style: solid;
}

.search i {
    margin-left: 10px;
}

.search > input {
    width: 100%;
    padding: 10px;
    font-size: 1.3em;
    background: rgba(0, 0, 0, 0);
}

.main-table {
    width: 65vw;
}

.main-table tbody {
    display: block;
    overflow-y: auto;
    width: 65vw;
    max-height: 67vh;
    border-bottom: solid 1px @primaryColor;
}

.main-table th,
.main-table td {
    &:nth-of-type(1) {
        width: 50px;
    }
    &:nth-of-type(2),
    &:nth-of-type(3) {
        width: 180px;
    }
    &:nth-of-type(4),
    {
        width: 330px;
    }
}

.main-table tr {
    border-bottom: 1px solid @dividerColor;
    &:hover:not(.head) {
        &:not(.active) {
            background: @lightPrimaryColor;
            cursor: pointer;
        }
    }
}

.main-table tr.active {
    background: fadeout(@accentColor, 50%);
}

.main-table thead tr {
    border-bottom: 3px solid @dividerColor;
}

.description,
.main-table {
    border-color: @lightPrimaryColor;
    border-style: solid;
    border-width: 0 0 1px 1px;
}

.thead-icons {
    .material-icons;
    vertical-align: middle;
    &.inactive {
        color: @dividerColor;
    }
}


/* CATEGORY FILTER POPUP */

.category-filter {
    position: fixed;
    z-index: 3;
    padding: 20px;
    top: 50px;
    left: 50px;
    background: @lightPrimaryColor;
    color: @primaryTextColor;
    border-radius: 5px;
    width: 30%;
    .shadow1;
}

[type=checkbox] {
    background: white;
}

.category-filter form {
    display: flex;
    flex-wrap: wrap;
}

.category-filter span,
.category-filter button {
    margin: 5px;
    flex: 1 1 40%;
}

.category-filter button {
    background: @primaryColor;
    color: white;
}
.filter-title {
    .center;
    font-weight: 400;
    border-bottom: 1px solid black;
}



/* DESCRIPTION CONTAINER ELEMENTS */

.description {
    width: 35%;
    padding: 20px 20px 50px 20px;
    overflow-y: scroll;
    height: 100%;
    line-height: 1.5em;
}

.example-code {
    background: @dividerColor;
    width: 100%;
    display: block;
    padding: 5px;
    font-size: 0.8em;
    margin: 5px 0 40px 0;
}

.description code {
    color: black;
}

.example-title,
.example-flag {
    display: inline-block;
}

.example-title {
    font-weight: 700;
    width: 29%;
}

.example-flag {
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
    text-align: right;
    width: 70%;
}
